{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <head>

        <!--====== Required meta tags ======-->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--====== Favicon Icon ======-->
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/png">

        <!--====== Bootstrap css ======-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!--====== Fontawesome css ======-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!--====== Icofont css ======-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!--====== Magnific Popup css ======-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!--====== Slick css ======-->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

        <!--====== Default css ======-->
        <link rel="stylesheet" href="{% static 'css/default.css' %}">

        <!--====== Style css ======-->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        <script type="text/javascript" charset="UTF-8"
                src={% static 'https://maps.googleapis.com/maps-api-v3/api/js/44/14/common.js' %}></script>
        <script type="text/javascript" charset="UTF-8"
                src={% static 'https://maps.googleapis.com/maps-api-v3/api/js/44/14/common.js' %}></script>

    </head>
    <title>
        {% block title %}
            Base
        {% endblock title %}
    </title>
</head>
<body>
<div class="navigation-area navigation-transparent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-navbar d-flex align-items-center justify-content-between">
                    <div class="header-menu d-lg-flex align-items-center">
                        <a class="logo" href="#">
                            <img src="static/images/career-logo.png" alt="Logo">
                        </a> <!-- Logo -->

                        <nav class="header-nav">

                            <div class="mobile-close d-lg-none">
                                <a href="#">
                                    <span></span>
                                    <span></span>
                                </a>
                            </div>

                            <ul class="menu-bar d-lg-flex">
                                <li class="menu-item-has-children"><a class="active" href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Home 01</a></li>
                                        <li><a href="#">Home 02</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Test</a></li>
                                <li class="menu-item-has-children"><a href="#">Results</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">POS</a></li>
                                        <li><a href="#">Dine In</a></li>
                                        <li><a href="#">CRM</a></li>
                                        <li><a href="#">Back Office</a></li>
                                        <li><a href="#">Delivery Manager</a></li>
                                        <li><a href="#">Login</a></li>
                                        <li><a href="#">Register</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Scholarship</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Blog</a></li>
                                        <li><a href="#">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Contact Us</a></li>
                            </ul> <!-- menu-bar -->
                        </nav>
                    </div> <!-- header menu -->

                    <div class="header-btn d-none d-sm-block">
                        <ul>
                            <li><a class="login" href="#">Login</a></li>
                            <li><a class="Try" href="#">SignUp</a></li>
                        </ul>
                    </div> <!-- header btn -->

                    <div class="mobile-toggle d-lg-none">
                        <a href="#javascript:void(0)">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div><!-- header navbar -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</div>
<div class="header-banner d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="banner-content">
                    <h2 class="banner-title">Welcome to<span>Career Guidance</span>System</h2>
                    <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since printing and typeset.</p>
                    <a class="main-btn video-popup" href="#"><i class="icofont-play-alt-2"></i>Start Test</a>
                </div> <!-- banner content -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="banner-image d-none d-lg-flex align-items-center">
        <div class="image">
            <img src="static/images/skill.jpg" alt="Banner">
        </div>
    </div> <!-- banner image -->

    <div class="banner-shape">
        <img src="static/images/banner-shape.png" alt="Shape">
    </div>

</div>
<div class="copyright-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="copyright text-center">
                    <p class="text">Copyright © All Rights Reserved Umer Malik 2021.</p>
                </div> <!-- copyright -->
            </div>
        </div> <!-- row -->
    </div> <!-- cotainer -->
</div>

 <!--====== jquery js ======-->
    <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!--====== Slick js ======-->
    <script src="{% static 'js/popper.min.js' %}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <!--====== Counter Up js ======-->
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>

    <!--====== Ajax Contact js ======-->
    <script src="{% static 'js/ajax-contact.js' %}"></script>

    <!--====== Validator js ======-->
    <script src="{% static 'js/validator.min.js' %}"></script>

    <!--====== Main js ======-->
    <script src="{% static 'js/main.js' %}"></script>

    <!--====== Google Map js ======-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
{% block content %}

{% endblock content %}
</body>
</html>